{% extends "layout.html" %}

{% block body %}
<style>

      #rotated {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
      }

</style>


<div id="lift_chart" class="rotated"></div>
<script type="text/javascript">
	//var xy={};
	//var prevRep= 0;
	var __eon_pubnub = new PubNub({
  subscribeKey: "sub-c-76598f48-3f26-11ec-b886-526a8555c638",
  authkey: "SetStatsChart",
});
var __eon_cols = ["sway", "height"];
var __eon_labels = {};
chart = eon.chart({
  pubnub: __eon_pubnub,
  channels: ["setstats-pi-channel"],
  history: false,
  flow: true,
  rate: 1000,
  limit: 5,
  generate: {
    bindto: "#lift_chart",
    data: {
      colors: {"sway":"#D70060","height":"#E54028"},
      type: "line"
    },
    transition: {
      duration: 100
    },
    axis: {
      x: {
        label: "sway"
      },
      y: {
        label: "height"
      }
    },
    grid: {
      x: {
        show: false
      },
      y: {
        show: false
      }
    },
    tooltip: {
     show: true
    },
    point: {
      show: true
    }
  },
  transform: function(message) {
    var msg = JSON.stringify(message);
    var json_data = JSON.parse(msg);
	console.log(json_data);
   if(json_data.hasOwnProperty('coordinates')){

        //var message = eon.c.flatten(message.eon);
        var o = {};
        o["sway"] = json_data.coordinates.sway;
        o["height"] = json_data.coordinates.height;
        document.getElementById("h").textContent= o["height"];

        //console.log(json_data.lift.rep);

        //xy.push(o["sway"]);
        //xy.push(o["height"]);

    }
  if(json_data.hasOwnProperty('rep')){

		curRep = json_data.rep.rep;
		console.log(curRep);
		document.getElementById("r").textContent= curRep;

		curSet = json_data.rep.set;
		console.log(curSet);
		document.getElementById("s").textContent= curSet;


    }
    return {
      eon: o
    };

  },

});
</script>
		<div>
				<input type="checkbox" id="lift" onclick="handleClick(this);"/>
				<label for = "lift">Start Lift</label>
				<br>
				<h1>Height:<span id="h"></span></h1>
				<h1>Rep:<span id="r"></span></h1>
				<h1>Set:<span id="s"></span></h1>
		</div>
{% endblock %}