
{% extends "layout.html" %}

{% block body %}
    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <video autoplay muted loop id="bg-video">
            <source src="../static/images/Deadlift.mp4" type="video/mp4" />
        </video>

        <div class="video-overlay header-text">
            <div class="caption">
                <h2>Improve your <em>form</em></h2>
                <div class="main-button scroll-to-section">
                    <a href="/graph">Start Deadlift</a>
                </div>
                <br>
                <div class="main-button scroll-to-section">
                    <a href="sessions">History</a>
                </div>
                <br>
                <div class="main-button scroll-to-section">
                    <a href="/login">Log In</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; 2020 Training Studio

                    - Designed by <a rel="nofollow" href="https://templatemo.com" class="tm-text-link" target="_parent">TemplateMo</a></p>

                    <!-- You shall support us a little via PayPal to info@templatemo.com -->

                </div>
            </div>
        </div>
    </footer>


{% endblock %}