
{% extends "layout.html" %}

{% block body %}
    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <video autoplay muted loop id="bg-video">
            <source src="../static/images/Deadlift.mp4" type="video/mp4" />
        </video>

        <div class="video-overlay header-text">
            <div class="caption">
                <h2>Improve your <em>form</em></h2>
                <div class="main-button scroll-to-section">
                    <a href="/graph">Start Deadlift</a>
                </div>
                <br>
                <div class="main-button scroll-to-section">
                    <a href="history">History</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->


{% endblock %}