<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <title>SetStats</title>
<!--

TemplateMo 548 Training Studio

https://templatemo.com/tm-548-training-studio

-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.css">

    <link rel="stylesheet" href="../static/css/templatemo-training-studio.css">

    <link rel="stylesheet" href="../static/css/register.css">
      <link rel="stylesheet" href="../static/css/chart.css">


      <!-- Graph -->
      <script type="text/javascript" src="https://pubnub.github.io/eon/v/eon/1.0.0/eon.js"></script>
      <link type="text/css" rel="stylesheet" href="https://pubnub.github.io/eon/v/eon/1.0.0/eon.css" />


    </head>

    <body>



    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/" class="logo">Set<em>Stats</em></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="/" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="/graph/">Graph</a></li>
                            <li class="scroll-to-section"><a href="/register">Register</a></li>

                            <li class="main-button"><a href="/login">Login</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
{% block body %}

{% endblock %}

    <script src="../static/js/jquery-2.1.0.min.js"></script>

      <!-- Bootstrap -->
      <script src="../static/js/popper.js"></script>
      <script src="../static/js/bootstrap.min.js"></script>

      <!-- Plugins -->
      <script src="../static/js/scrollreveal.min.js"></script>
      <script src="../static/js/waypoints.min.js"></script>
      <script src="../static/js/jquery.counterup.min.js"></script>
      <script src="../static/js/imgfix.min.js"></script>
      <script src="../static/js/mixitup.js"></script>
      <script src="../static/js/accordions.js"></script>

      <!-- Global Init -->
      <script src="../static/js/custom.js"></script>
      <script src="../static/js/register.js"></script>
    </body>