{% extends "layout.html" %}

{% block body %}
    <div class="login">
    <form action="{{url_for('login')}}" method="post">
        <div class="imgcontainer">
        </div>

        <div class="container">
          <label for="username"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="username" id="username" required>

          <label for="password"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" id="password" required>

          <div class="msg">{{ msg }}</div>
          <button type="submit" value="login">Login</button>

        </div>


      </form>
      </div>
<div class="foot" style="background-color:#f1f1f1">
          <button type="button" class="cancelbtn">Cancel</button>
          <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
{% endblock %}
