{% extends "layout.html" %}

{% block body %}

    <div class="reg">
    <form action="{{ url_for('register') }}" method="post">
        <div class="imgcontainer">
        </div>

        <div class="container">
          <label for="username"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="username" id="username" >


          <label for="password"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" id="password" >

          <label for="confirm"><b>Confirm Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" id="confirm">

            <div class="msg">{{ msg }}</div>

          <button type="submit" value="register">Register</button>

        </div>

      </form>
      </div>
{% endblock %}