{% extends "layout.html" %}

{% block body %}

    <div class="main-banner" id="top">
        <video autoplay muted loop id="bg-video">
        </video>

        <div class="caption">

            {% for row in data %}
                <div class="main-button scroll-to-section">
                    <a href="{{ url_for('sessionselection' ,id=row['session_id'] ) }}">Session {{row['session_id']}}</a>
                </div>
            <br>
            {% endfor %}

        </div>

    </div>

{% endblock %}